/* ====================== iPhone 6, 6S, 7 and 8 ========================*/

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

    .wrapper {
        min-height: 90vh;
    }

    .btn {
        font-size: 1.2rem;
    }

    .switch {
        bottom: 20px;
    }
}



/* ===================== iPhone XR ====================== */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {

    .wrapper {
        min-height: 75vh;
    }

    .btn {
        font-size: 1.2rem;
    }

    .switch {
        bottom: 40px;
    }

}

/* ================= iPhone X, Xs max =================*/

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {


    .wrapper {
        min-height: 70vh;
    }

    .btn {
        font-size: 1.2rem;
    }


    .backspace:hover {
        color: #fafafa;
        background-color: #525252;
    }

    .clear:hover {
        color: #fafafa;
        background-color: #525252;
    }

}

/* ======================= IPAD =======================*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {

    /* For portrait layouts only */

    body {
        font-size: 1.3rem;
    }

    .wrapper {
        min-height: 70vh;
    }

    .display-container {
        font-size: 4rem;
    }

    .btn {
        display: inline-block;
        font-size: 1.5rem;
    }

    .calculator-container {
        min-width: 400px;
        min-height: 600px;
    }

    .backspace:hover {
        color: #fafafa;
        background-color: #525252;
    }

    .clear:hover {
        color: #fafafa;
        background-color: #525252;
    }

    .switch {
        bottom: 30px;
    }


}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

    /* For landscape layouts only */
    .btn {
        font-size: 1.3rem;
    }

    .switch {
        bottom: 20px;
    }

    .wrapper {
        min-height: 75vh;
    }
}